@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
main{
    width: 80%;
    margin: 0 auto;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.primary-color{
    color:#f7b12f;
}
.flex-container{
    display: flex;
}
#hero-section img{
    width: 100%;
}
.half-width{
    width: 40%;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
}
#hero-title{
    border-left: 3px solid crimson;
}
.hero-title{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding-left: 10px;
}
.btn{
    text-transform: capitalize;
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
/* ----- Mission Section Styling ------ */
#mission h1{
    text-align: center;
}
#mission .mission-item{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    border-radius: 10px;
    background-color: lightsalmon;
}
#mission .mission-item h3{
    margin: 0;
    padding: 0;
}
#mission .mission-item img{
    width: 50%;
}
#mission .item1{
    background-color: #beade64d;
}
#mission .item2{
    background-color: #8df08044;
}
#mission .item3{
    background-color: #ff7a7a46;
}
/* ------- Develop Section Styleing -------- */
#develop{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
}
#develop .one-three img{
    width: 100%;
}
#develop .one-three{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}
#develop .two-three{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
}
/* ------- Community Section Styling ------  */
#community{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 15%;
}
#community .one-three img{
    width: 100%;
}
#community .one-three{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}
#community .two-three{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
}
/* ------- Contact Section Styling ---------  */
#contact .contact-heading{
    text-align: center;
}
#contact .contact-info{
    background-color: #beade64d;
    color: #333;
    width: 45%;
    padding: 20px;
}
#contact .info{
    margin-bottom: 20px;
}
#contact .contact-info .info h4, .info-details{
    margin: 0;
}
#contact .contact-form{
    width: 55%;
    padding: 20px;
    background-color: #8df08044;
}
#contact .contact-form .form-group{
    position: relative;
    margin-bottom: 10px;
}
#contact .contact-form .form-group label{
    color: #333;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea{
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-size: 17px;
    resize: none;
}
/* ------- Footer Styling -------  */
#footer{
    background-color: black;
    text-align: center;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}
#footer h2{
    font-family: 'Lobster', cursive;
}